@import 'variables';

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

@mixin split($parts) {
    display: grid;
    grid-template-columns: repeat($parts, 1fr);
}
