/*---------- IMPORT ----------*/
@import 'variables';
@import 'master';
@import 'snippets';

.quran {
    @extend %flex-center;
    flex-direction: column;

    .week {
        @extend %flex-center;
        flex-direction: column;

        .download {
            a {
                width: 80vw;
                height: 5vh;
                background: $gradient-primary;
                color: $color-background;
                @extend %flex-center;
            }

            a:hover {
                transform: scale(1.1);
            }
        }
    }
}
