@import 'variables';

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

@mixin split($parts) {
    display: grid;
    grid-template-columns: repeat($parts, 1fr);
}

%effect-gradient {
    transition: $transition;
    background: $gradient-for-animation;
    background-size: 200% auto;
}

@mixin gradient-effect($element) {
    #{$element} {
        @extend %effect-gradient;
        position: relative;
        color: $color-background;
    }

    #{$element}::before {
        @extend %effect-gradient;
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $round;
        filter: blur(.75rem);
    }

    #{$element}:hover,
    #{$element}:hover::before {
        background-position: right center;
    }

}